#ignore files
miner.log
hlc-miner
hlc-miner.exe
re
halalchainminer.conf

CA.cert
go.sum

lib/cuckoo/target
lib/cuckoo/target
cuckatoo/cuckatoo
main
lib/libcuckoo.dylib
lib/cuckoo/Cargo.lock
lib/libcuckoo.a