# the miner config file

#[log] miner submit log
#minerlog=

#[Necessary Config]
#coin
symbol=PMEER


#[Solo Config]
#miner address
mineraddress=RmN4SADy42FKmN8ARKieX9iHh9icptdgYNn
# node rpc server
rpcserver=127.0.0.1:1234
# node rpc user
rpcuser=test
# node rpc password
rpcpass=test
#not tls
notls=true
#rpccert
rpccert=CA.cert

#[Pool Config]
# qitmeer.meerpool.com:3176 blake2bd
# qitmeer.meerpool.com 3177 cuckaroo
# qitmeer.meerpool.com 3178 cuckatoo
#pow type cuckaroo|blake2bd|cuckatoo
pow=cuckaroo
pool=stratum+tcp://qitmeer.meerpool.com:3177
pooluser=TmbCBKbZF8PeSdj5Chm22T4hZRMJY5D8XyX
poolpass=

#[Necessary Config]
#network privnet|testnet|mainnet|mixnet
network=testnet
#trimmerTimes can ajustment this parameter to keep performance
#trimmerTimes=60
# Intensities (the work size is 2^intensity) up to device
intensity=24
# The explicitly declared sizes of the work to do up to device (overrides intensity)
worksize=256
edge_bits=24
log_level=info
max_sig_count=4000